@import 'normalize';
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';

$brand_blue: rgb(73, 107, 143);
$brand_grey: #9d9d9d;
$brand_green: #4ca34d;


html {
  box-sizing: border-box;
  max-width: 900px;
  margin: auto;
  font-family: 'Raleway', sans-serif;
  background-color: #eee;
}

*, *:before, *:after {
  box-sizing: inherit;
}

// NAV //
.nav-bar {
  height: 3em;
  display: flex;
  background-color: $brand_blue;
  justify-content: center;
}

.fa-plus-circle {
  font-size: 2em;
  flex: 1;
  margin: 10px 0 10px 30px;
  align-content: center;
}


//IMG FORM //

.form-section {
  display: none;
}

.image-form {
  display: flex;
  margin: auto;
  padding: 100px;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}

input {
  margin-bottom: 5px;
  border: 1px solid;
}

textarea {
  margin-bottom: 10px;
}

button {
  float: right;
  margin: 5px;
  padding: 5px;
  border-radius: 5%;
  color: #FFF;
}

.cancel {
  text-transform: uppercase;
  height: 3em;
  background-color: $brand_grey;
  border: none;
}

.add-image-btn {
  height: 3em;
  background-color: $brand_green;
  border: none;
}

.fa-picture-o {
  padding: 5px;
}

//IMG AREA POST

.image-area {
  display: flex;
  width: 400px;
  margin: auto;
  justify-content: center;
  flex-direction: column;
}

img {
  width: 400px;
  height: 400px;
  margin-top: 50px;
}

.image-text {
  margin-top: 0;
  height: 75px;
  padding: 30px;
  text-align: center;
  background-color: #fff;
}
